* { 
	margin:0; 
	padding:0; 
}
.header{
	width: 100%;
	background-color: #292F41;
	height: 66px;	
}
.logo{
	height: 90px;
	max-width: 100%;
}
.login{
	text-decoration: none;
	color: white;
	float: right;
	margin: 25px;
	font-family: verdana;
}
.login:hover{
	text-decoration: underline;
}
.wallpaper{
	position: relative;
	height: 535px;
	width: 100%;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
.wallDiv > p{
	position: absolute; 
    top: 150px; 
    text-align: center;
    width: 100%;
    font-family: sans-serif;    
    color: white;
    font-size: 3em;
    font-weight:300;
}
.reg_form{
	position: absolute;
	top: 250px;
	display: block;
	border: 1px solid black;
	left: 335px;
	align-self: center;
	background : linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.reg_form  p{
	color: white;
	font-family: sans-serif;
	margin: 10px;
}
#txt{
	font-size: 2em;
}
input[type=text], input[type=password], input[type=number]{    
    padding: 12px 20px;
    margin: 8px;
    width: 321px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;    
    outline: none;
}
input[type=text]:focus,input[type=password]:focus, input[type=number]:focus{
    border: 3px solid #555;
}
input[type=submit] {
    width: 97%;
    background-color: #a62436;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 20px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;    
   	font-size: 1em;
}
input[type=submit]:hover {
   background-color: #005b9d;
}
.section-description{
	display: block;
	margin-top: 50px;
	height: 350px;
}
.fl{
	float: left;
	width: 50%;
}
.fr{
	float: right;
	width: 50%;	
}
.section-row{
	padding: 20px;
}
.section-icon{
	padding:10px 0 0 0;
	width:180px;
	float:left;
	text-align:right;
}
.section-row .section-icon.first{
	padding:35px 0 0 0;
}.section-row .section-icon.second{
	padding:30px 0 0 0;
}
.section-row .section-txt{
	padding:0 0 0 40px;
	overflow:hidden;
}
.section-txt h3{
	font-size:22px;
	color:#666;
	font-family:"sourcesanspro",sans-serif;
}
.section-txt p{
	margin:0;
	line-height:1.5;
	font-family:"sourcesanspro",sans-serif;
}
.footer {
	display: block;
	width: 100%;
	height: 65px;
	background-color: #262A39;	
}
.footer p{
	color: white;
	font-family: verdana;
	font-size: 15px;
	padding: 25px;	
}