* { 
	margin:0; 
	padding:0; 
}
.header{
	width: 100%;
	background-color: #292F41;
	height: 66px;	
}
.logo{
	height: 90px;
	max-width: 100%;
}
.login{
	text-decoration: none;
	color: white;
	float: right;
	margin: 25px;
	font-family: verdana;
}
.body > p{
	font-family: "sourcesanspro",sans-serif;
	font-size: 46px;
	color: rgb(41, 47, 64);
	text-align: center;
	margin-top: 80px;
	margin-bottom: 10px;
}
hr{
	margin-left: 100px;
	margin-right: 100px;	
}
.login_form {
	margin: 20px 400px 0 400px;
}
.login_form p {
	font-family: "sourcesanspro",sans-serif;
	color: rgb(41, 47, 64);
	margin: 10px 0 5px 15px;
	font-size: 20px;	
}
input[type=text], input[type=password]{    
    padding: 12px 20px;    
    margin: 8px;
    width: 97%;
    font-size:17px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;        
    outline: none;
}
input[type=text]:focus,input[type=password]:focus {
    border: 3px solid #555;
}
input[type=submit] {
    width: 60%;
    background-color: #a62436;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 20px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   	font-size: 1em;   	
}
input[type=submit]:hover {
   background-color: #005b9d;
}
a{
text-decoration: none;
	color: rgb(0, 91, 157);
	float: right;
	margin: 10px;
	font-family: verdana;
}
a:hover{
	text-decoration: underline;
}
.footer {
	position: fixed;
	display: block;
	width: 100%;
	height: 65px;
	margin-top: 98px;
	background-color: #262A39;	
}
.footer p{
	color: white;
	font-family: verdana;
	font-size: 15px;
	padding: 25px;	
}